{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 9"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
