openapi: 3.1.0
info:
  title: Velora Delta API
  version: 1.0.0
  description: |
    Velora Delta API is a service that provides pricing and bridge quotes for token swaps using ParaSwap Delta.    
servers:
  - url: https://api.paraswap.io
    description: Velora API  

paths:
  /delta/prices:
    get:
      summary: Get swap price and bridge quote
      description: |
        Returns pricing and bridge quote for a token swap using ParaSwap Delta.
      parameters:
        - name: srcToken
          in: query
          required: true
          example: "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
          schema:
            type: string
        - name: destToken
          in: query
          required: true
          example: "0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE"
          schema:
            type: string
        - name: amount
          in: query
          required: true
          example: "100000000"
          schema:
            type: string
        - name: srcDecimals
          in: query
          required: true
          example: 6
          schema:
            type: integer
        - name: destDecimals
          in: query
          required: true
          example: 18
          schema:
            type: integer
        - name: chainId
          in: query
          required: true
          example: 1
          schema:
            type: integer
        - name: side
          in: query
          required: true
          example: "SELL"
          schema:
            type: string
            enum: [BUY, SELL]
        - name: partner
          in: query
          required: false
          example: "paraswap.io"
          schema:
            type: string
        - name: userAddress
          in: query
          required: false
          example: "0xb0326588271F2531FBfc9A13D52d3DA45bE1D956"
          schema:
            type: string
        - name: destChainId
          in: query
          required: false
          example: 10
          schema:
            type: integer
      responses:
        '200':
          description: Price quote
          content:
            application/json:
              schema:
                type: object
                properties:
                  price:
                    type: object
                    properties:
                      srcToken:
                        type: string
                      destToken:
                        type: string
                      srcAmount:
                        type: string
                      destAmount:
                        type: string
                      destAmountBeforeFee:
                        type: string
                      gasCostUSD:
                        type: string
                      gasCost:
                        type: string
                      srcUSD:
                        type: string
                      destUSD:
                        type: string
                      destUSDBeforeFee:
                        type: string
                      gasCostBeforeFee:
                        type: string
                      gasCostUSDBeforeFee:
                        type: string
                      partner:
                        type: string
                      partnerFee:
                        type: number
                      destAmountAfterBridge:
                        type: string
                      destUSDAfterBridge:
                        type: string
                      bridgeFee:
                        type: string
                      bridgeFeeUSD:
                        type: string
                      poolAddress:
                        type: string
                      hmac:
                        type: string
                  deltaAddress:
                    type: string
