$app-bg-color: #000;
$font-family: 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', 'sans-serif';

body {
  font-family: $font-family;
  background-color: $app-bg-color;
  position: initial !important;
}

.hide {
  display: none !important;
}

.ui {
  .primary.button {
    background-color: #393fe4;

    &:hover, &:active, &:focus, &:visited {
      background-color: #8f6bfd;
    }
  }

  .positive.button {
    background-color: #fd043e;

    &:hover, &:active, &:focus, &:visited {
      background-color: #e0899d;
    }
  }

  &.form .field {
    > .selection.dropdown {
      height: 51px;
      line-height: normal;
    }
  }

  .button {
    letter-spacing: 1px;
  }

  &.form .field input, .button, .dropdown > .text {
    font-size: 20px;
  }

  &.form .field .ui.input input {
    box-shadow: none;
    border: none;
    letter-spacing: 1px;
  }

  &.image {
    margin-bottom: 10px;
  }
}

#root {
  height: 100%;
  position: relative;
  z-index: 1;

  > .root-container {

    > .app {
      padding: 15px;
      height: 100%;
      margin: 10px auto;
      max-width: 400px;

      form {
        margin: auto;
      }

      table {
        text-align: center;
      }

      .checkbox {
        margin-right: 10px;
      }

      .pay-to {
        input {
          font-size: 13px;
          padding: 15px 5px;
          text-align: center;
        }
      }

      .distribution-chart {
        background-color: #FFFFFF;
        border-radius: 5px;
      }
    }
  }
}
